/* PAME CSS overrides */
.region-header{
  color: #9da3a7;
  text-align: left;
  font-size: x-large;
  font-weight: 100!important;
  border-bottom: 1px solid #34373a;
  padding-bottom: 10px;
}
.pa-summary-value {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}
.pa-summary-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 33px;
}


header.masthead {
    height:auto!important;
}

.card-header h1 {
  color: #8FBF4B;
  text-align: left;
  font-size: x-large;
}

table.globalk tfoot {
    background-color: #70c17e!important;
    color: #fff!important;
    font-weight: 600!important;
	text-align:left!important;
}

.masthead {
     background-image: none!important;
     background-color: #fdfdff!important;
}

.header-table-cards table{
  font-family: "Maven Pro";
}

.header-table-cards table thead > tr {
    border-bottom: 0;
    background-color:#62737f;
}

.header-table-cards table thead > tr th {
  font-weight:100;
}

.header-table-cards .card {
    box-shadow: 0 0 20px 10px rgba(17,133,171,0.13);
}

.header-table-cards .card:hover {
    transform: scale(1.0)!important;
}

.header-text .views-element-container {
    background-color: transparent!important;
}

.landing_headers {
     color: #8eb4b1!important;
}

.landing_headers p {
    text-shadow: none!important;
}

#landing_top_cards .view-content {
    display: unset!important;
}

.biopama_d-edit-node {
    position: absolute!important;
    left: -3rem!important;
    margin-top: -10%!important;
    z-index: 2!important;
    border: 1px solid #41ad53!important;
    border-radius: 4px!important;
}

.landing_headers {
    width: 90%!important;
    padding-bottom: 20px!important;
}

.header-table-cards h6.masthead-subheading {
    width: auto!important;
    margin: 0px!important;
}

#landing_top_cards .card-body h4, #landing_top_cards .card-body .heading-d {
    margin: 1em 0 0.5em;
    font-size: 1.5em!important;
    font-weight: inherit;
    color: #90c14f;
    text-align: left;
}

#landing_top_cards .card-body h6, #landing_top_cards .card-body .heading-f {
     margin: 0px 3rem 0 0!important;
     letter-spacing: unset;
     text-transform: unset;
}

.card .card-link {
    background: #90c14f;
    outline: none;
    border: none;
    color: #fff!important;
    margin-left: -20px;
    cursor: pointer;
    position: absolute;
    right: -4rem;
    top: 20px;
    height: 80%;
    width: 7rem;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.header-table-cards .card {
  height:auto!important;
}

.biopama_d-card-img {
    width: 5rem;
    height: 4rem;
    margin-right: 2rem;
}

.card-link .card-title {
    padding: 0 5px 0 5px!important;
}

.pame-links img {
     max-width: 100%!important;
}

.btn-secondary {
    background-color: #669a94;
    border-color: #669a94;
}

#table_assessments_filter{
  display:flex;
  padding:10px;
}

.dt-buttons.btn-group{
  padding-right:10px;
}

#spinner {
  text-align: center;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ffffffd6;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 5px #00000017;
}

.assessment-tools-details{
  display:none;
  color:#8eb4b1;
  padding:20px;
}

.assessment-tools-details .col-2 .btn{width: 100%;
    margin-bottom: 3px;
  }

.assessment-tools-more{
  float: right;
}

.header-table-cards .header-table-wrap{
  width: auto;
  min-width: 50%;
  max-width:90%;
}

.btn.assessment-tools-more {
    color: #77a6a1!important;
}

.assessment-tools-details a{
  color:#28a745;
}

.assessment-tools-details a:hover{
  color:#28a745;
  font-weight:900;
}

.pame-tools-page .card:hover {
    transform: scale(1.0);
}

.workinprogress{
  text-align: center;
  width:100%;
}
.workinprogress img{
  width:30%;
}

.pas_recap_table{
  margin-top:0!important;  
}

.pas_recap_table *{
  color: green;  
}

.pas_theader{
  background-color: #95c458!important;
}

.pas_theader td, .pas_theader td *{
  color: white;
}

.pas_summary_text{
  color:#fdfdff;
  background-color: #90c14f;
  /* text-align: left; */
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px 0px rgba(17,133,171,0.13);
  border: 1px solid #e9ecef;
}


@media (max-width:992px) {

  .col-4.header-text{
    flex: unset;
    max-width: unset;
  }

  .card .card-link {
    right: -1rem!important;
  }

  .biopama_d-edit-node {
    left: -1rem!important;
  }

  .biopama_d-card-img {
      width: 30px!important;
      opacity: 1!important;
  }

  #landing_top_cards .card-body h6, #landing_top_cards .card-body .heading-f {
    margin: 0px 5rem 0 0!important;
    letter-spacing: unset;
    text-transform: unset;
  }

}

.reg_link{
  color:#70c17e !important;
}

.reg_link:hover{
  color:#607d8b !important;
}