.region-header{
    color: #9da3a7;
    text-align: left;
    font-size: x-large;
    font-weight: 100!important;
    border-bottom: 1px solid #34373a;
    padding-bottom: 10px;
}
.pa-summary-value {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
}
.pa-summary-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 33px;
}
.dashboard-text{
    background-color: #1f212369;
}

.pie-chart-value h1 {
    text-align: center;
    font-size: 3em;
}
  
.masthead-heading {
    font-family: 'Montserrat';
    font-size: 2REM;
    TEXT-ALIGN: center;
    MARGIN-BOTTOM: 47PX!IMPORTANT;
    PADDING-BOTTOM: 20PX;
    MARGIN-TOP: 50PX!IMPORTANT;
}

.reg_link {
    color: #7e8387 !important;
    font-weight: 100;
}

.reg_link:hover {
    color: #607d8b !important;
}

table.dataTable {
    color: unset;
    background: #1e2022;
}


hr {
    border-top: 1px solid #42474c !important;
}

#pa-dashboard-cards tfoot {
    background-color: #606060;
}